{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            0
        ],
        "indent": [
            2,
            4
        ],
        "react/jsx-indent": [
            2,
            4
        ],
        "no-console": [
            0
        ],
        "react/require-default-props":[0]
    }
}
